altgraph
Cython
debugpy
mido
numpy
openvr
packaging
pandas
pefile
pyinstaller
pyinstaller-hooks-contrib
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-osc
python-rtmidi
pytz
pywin32-ctypes
six
tzdata
